<!DOCTYPE html>
<html lang="en">

<head>
    <title>College Finder</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body>










<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only"></span>
            </button>
            <a class="navbar-brand">College Finder</a>
        </div>

        <form class="navbar-form navbar-left" method="post" action="/search">
            <div class="form-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <button type="submit" class="btn btn">Submit</button>
            </div>
        </form>

        <ul class="nav navbar-nav navbar-right">


            <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    </a>
                <ul class="dropdown-menu">
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </li>
            

        </ul>



    </div>
</nav>

</body>