<%- layout('layout1')  -%>

<header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Create New Account</h1>
                </div>
            </div>
        </div>
    </div>
</header>




<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <% if(msg !='') { %>
            <div class="alert alert-success">
                <%= msg %>
            </div>
            <% } %>

            <form method="post" action="/signup1">

                <div class="control-group">
                    <div class="form-group my-5 floating-label-form-group controls">
                        <label>Username</label>
                        <input type="text" name="username" required placeholder="Username" class="form-control">
                    </div>
                </div>



                <div class="control-group">
                    <div class="form-group my-5 floating-label-form-group controls">
                        <label>Email</label>
                        <input type="email" name="email" required placeholder="Email" class="form-control">
                    </div>
                </div>


                <div class="control-group">
                    <div class="form-group my-5 floating-label-form-group controls">
                        <label>Password</label>
                        <input type="password" name="password" id="password" placeholder="Password" class="form-control"
                            required>
                    </div>
                </div>

                <div class="control-group">
                    <div class="form-group my-5 floating-label-form-group controls">
                        <label>Confirm Password</label>
                        <input type="password" name="cnfpassword" id="cnfpassword" placeholder="Confirm Password"
                            class="form-control" required>
                    </div>
                </div>

                <div class="form-group my-5 text-center">
                    <button type="submit" class="btn btn-primary">Create Account</button>
                </div>


            </form>
        </div>


    </div>
</div>